# Filtering
Use n-grams.

## All Utils

In [3]:
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from joblib import Parallel, delayed

sns.set()
P = '#7B73F0'
G = '#27DDCB'

# ---- GAME LOGIC ---- #
def get_feedback(input_word, solution):
    output = ''
    for i in range(5):
        if input_word[i] == solution[i]:
            output += 'G'
        elif input_word[i] in solution:
            output += 'Y'
        else:
            output += 'X'
    return output

def filter_wordset(input_word, feedback, wordset):
    newset = wordset.copy()
    for i in range(5):
        if feedback[i] == 'G':
            newset = newset.loc[newset.word.str[i] == input_word[i]]
        elif feedback[i] == 'Y':
            # newset = newset.loc[newset.word.str.contains(input_word[i])]
            newset = newset.loc[newset.word.str.contains(input_word[i]) & newset.word.apply(lambda x: x[i] != input_word[i])]
        else:
            newset = newset.loc[~newset.word.str.contains(input_word[i])]
    return newset


# ---- SIMULATIONS ---- #
def sim_single(input_word, solution, score_fn, wordset=wordle):
    feedback = ''
    tested_words = []
    n_iter = 1

    while feedback != 'GGGGG':

        # Check solution
        feedback = get_feedback(input_word, solution)
        tested_words.append(input_word)
        
        # Filter wordset
        wordset = filter_wordset(input_word, feedback, wordset)
        wordset = wordset.loc[~wordset.word.isin(tested_words)]
        if n_iter == 1:
            first_cut = wordset.shape[0]
            second_cut = 0
        elif n_iter == 2:
            second_cut = wordset.shape[0]
            
        # Compute scores
        scores = score_fn(wordset)

        # Set new input word
        if scores.shape[0] > 0:
            input_word = scores.word.iloc[0]
            n_iter += 1
    return n_iter, first_cut, second_cut


def sim_double(input_word1, input_word2, solution, score_fn, wordset=wordle):
    feedback = ''
    tested_words = []
    n_iter = 1
    
    input_word = input_word1

    while feedback != 'GGGGG':

        # Check solution
        feedback = get_feedback(input_word, solution)
        tested_words.append(input_word)

        # Filter wordset
        wordset = filter_wordset(input_word, feedback, wordset)
        wordset = wordset.loc[~wordset.word.isin(tested_words)]
        if n_iter == 1:
            first_cut = wordset.shape[0]
            second_cut = 0
        elif n_iter == 2:
            second_cut = wordset.shape[0]

        # Compute scores
        scores = score_fn(wordset)

        # Set new input word
        if scores.shape[0] > 0:
            if len(tested_words) < 2:
                input_word = input_word2
            else:
                input_word = scores.word.iloc[0]
            n_iter += 1
    return n_iter, first_cut, second_cut


def run_sim(input_word, sim, score_fn, wordset=wordle, single=True, input_word2=None):
    
    if single:
        results = Parallel(n_jobs=5, verbose=3)(delayed(sim)(input_word, s, score_fn, wordset=wordset) for s in wordle_answers.word)
    else:
        assert input_word2 is not None
        results = Parallel(n_jobs=5, verbose=3)(delayed(sim)(input_word, input_word2, s, score_fn, wordset=wordset) for s in wordle_answers.word)
        
    data = pd.DataFrame(results, columns=['n_iter', 'first_cut', 'second_cut'])
    
    # Compute summary for no. of iterations
    summary_iter = pd.DataFrame(data.n_iter.describe()).T.reset_index(drop=True)
    summary_iter.columns = 'n_iter_' + summary_iter.columns
    summary_iter['iter_2_or_less'] = np.mean(data.n_iter <= 2)
    summary_iter['iter_3'] = np.mean(data.n_iter == 3)
    summary_iter['iter_4'] = np.mean(data.n_iter == 4)
    summary_iter['iter_5'] = np.mean(data.n_iter == 5)
    summary_iter['iter_6'] = np.mean(data.n_iter == 6)
    summary_iter['fail'] = np.mean(data.n_iter > 6)
    
    # Compute summary for first cut
    summary_c1 = pd.DataFrame(data.first_cut.describe()).T.reset_index(drop=True)
    summary_c1 = summary_c1.drop('count', axis=1)
    summary_c1.columns = 'c1_' + summary_c1.columns
    
    # Compute summary for second cut
    summary_c2 = pd.DataFrame(data.second_cut.describe()).T.reset_index(drop=True)
    summary_c2 = summary_c2.drop('count', axis=1)
    summary_c2.columns = 'c2_' + summary_c2.columns
    
    # Combine summary
    summary = pd.concat([summary_iter, summary_c1, summary_c2], axis=1)
    display(summary)
    if single:
        summary.insert(0, 'word', input_word)
        data.insert(0, 'word', input_word)
    else:
        summary.insert(0, 'words', f'{input_word}, {input_word2}')
        summary.insert(1, 'word1', input_word)
        summary.insert(2, 'word2', input_word2)
        data.insert(0, 'words', f'{input_word}, {input_word2}')
        data.insert(1, 'word1', input_word)
        data.insert(2, 'word2', input_word2)
        
    return summary, data


def eval_results(df, single=True):
    main_cols = ['n_iter_mean', 'c1_50%', 'c2_50%', 'iter_2_or_less',
               'iter_3', 'iter_4', 'iter_5', 'iter_6',
               'fail' ]
    if single:
        cols = ['word'] + main_cols
        yval = 'word'
    else:
        cols = ['words'] + main_cols
        yval = 'words'
        
    summary = df[cols].sort_values('n_iter_mean')
    display(summary)

    metrics = ['n_iter_mean', 'c1_50%', 'c2_50%']
    titles = ['Average No. of Iterations', 'Median Candidate Set Size After Iter 1', 'Median Candidate Set Size After Iter 2']
    for metric, title in zip(metrics, titles):
        plt.figure(figsize=(12, 6))
        sns.barplot(x=metric, y=yval, data=df.sort_values('n_iter_mean'), palette = [P])
        plt.title(title, fontdict={'fontsize': 15})
        # plt.xlim(4, 5)

        for i, row in df.sort_values('n_iter_mean', ascending=True).reset_index(drop=True).iterrows():
            plt.text(row[metric]+0.01, i+0.2, f"{row[metric]:.2f}")
        plt.show()


# ---- GLOBAL LETTER FREQUENCY ---- #
def compute_letter_frequencies(wordset):
    w = wordset.copy()
    for letter in list('abcdefghijklmnopqrstuvwxyz'):
        w[letter] = w.word.str.contains(letter).astype(int)
    return w.iloc[:, 1:]


def compute_score(x, freqs):
    letters = set(x)
    output = 0
    for letter in letters:
        output += freqs[letter]
    return output


def global_lf_scorer(wordset):
    # Compute letter distribution of updated wordset
    wordset_letterdist = compute_letter_frequencies(wordset)
    freqs = wordset_letterdist.sum().to_dict()

    # Obtain scores
    scores = wordset.word.apply(compute_score, freqs=freqs)
    scores = pd.DataFrame({'word': wordset.word, 'score': scores}).sort_values('score', ascending=False)
    
    return scores


def global_lf_pop_scorer(wordset):
    # Compute letter distribution of updated wordset
    wordset_letterdist = compute_letter_frequencies(wordset)
    freqs = wordset_letterdist.sum().to_dict()

    # Obtain scores
    scores = wordset.word.apply(compute_score, freqs=freqs)
    scores = pd.DataFrame({'word': wordset.word, 'score': scores, 'word_freq': wordset.word_freq}) \
        .sort_values(['score', 'word_freq'], ascending=False)
    
    return scores


def find_second_word(word, two_vowel=True):
    letters = list(word)
    candidates = global_scores.loc[global_scores.word.apply(lambda x: all([l not in letters for l in x]))]
    candidates = candidates.loc[candidates.word.apply(lambda x: len(x) == len(set(x)))]
    if two_vowel:
        candidates = candidates.loc[
            candidates.word.apply(lambda x: x.count('a') + x.count('e') + \
                                  x.count('i') + x.count('o') + x.count('u') >= 2)
        ]
    candidates = candidates.groupby('score').first().sort_index(ascending=False)
    return candidates.head(3)


def find_second_word_pop(word, two_vowel=True):
    letters = list(word)
    candidates = global_scores_pop.loc[global_scores_pop.word.apply(lambda x: all([l not in letters for l in x]))]
    candidates = candidates.loc[candidates.word.apply(lambda x: len(x) == len(set(x)))]
    if two_vowel:
        candidates = candidates.loc[
            candidates.word.apply(lambda x: x.count('a') + x.count('e') + \
                                  x.count('i') + x.count('o') + x.count('u') >= 2)
        ]
    candidates = candidates.groupby('score').first().sort_index(ascending=False)
    return candidates.head(3)


# ---- POSITIONAL LETTER FREQUENCY ---- #
def compute_pos_letter_freq(wordset):
    pos_scores = {}
    pos_scores[0] = wordset.word.str[0].value_counts().to_dict()
    pos_scores[1] = wordset.word.str[1].value_counts().to_dict()
    pos_scores[2] = wordset.word.str[2].value_counts().to_dict()
    pos_scores[3] = wordset.word.str[3].value_counts().to_dict()
    pos_scores[4] = wordset.word.str[4].value_counts().to_dict()
    
    return pos_scores


def compute_pos_score(letters, pos_scores):
    output = 0
    for i, letter in enumerate(letters):
        output += pos_scores[i].get(letter, 0)
    return output


def pos_lf_scorer(wordset):
    # Compute positional letter frequencies of updated wordset
    pos_scores = compute_pos_letter_freq(wordset)

    # Obtain scores
    scores = wordset.word.apply(compute_pos_score, pos_scores=pos_scores)
    scores = pd.DataFrame({'word': wordset.word, 'score': scores}).sort_values('score', ascending=False)
    scores = scores.sort_values(['score'], ascending=False)
    
    return scores


def pos_lf_pop_scorer(wordset):
    # Compute positional letter frequencies of updated wordset
    pos_scores = compute_pos_letter_freq(wordset)

    # Obtain scores
    scores = wordset.word.apply(compute_pos_score, pos_scores=pos_scores)
    scores = pd.DataFrame({'word': wordset.word, 'score': scores, 'word_freq': wordset.word_freq}) \
        .sort_values(['score', 'word_freq'], ascending=False)
    
    return scores


def find_second_word_pos(word, two_vowel=True):
    letters = list(word)
    candidates = pos_lf_scores.loc[pos_lf_scores.word.apply(lambda x: all([l not in letters for l in x]))]
    candidates = candidates.loc[candidates.word.apply(lambda x: len(x) == len(set(x)))]
    if two_vowel:
        candidates = candidates.loc[
            candidates.word.apply(lambda x: x.count('a') + x.count('e') + \
                                  x.count('i') + x.count('o') + x.count('u') >= 2)
        ]
    candidates = candidates.groupby('score').first().sort_index(ascending=False)
    return candidates.head(4)


def find_second_word_pos_pop(word, two_vowel=True):
    letters = list(word)
    candidates = pos_lf_scores_pop.loc[pos_lf_scores_pop.word.apply(lambda x: all([l not in letters for l in x]))]
    candidates = candidates.loc[candidates.word.apply(lambda x: len(x) == len(set(x)))]
    if two_vowel:
        candidates = candidates.loc[
            candidates.word.apply(lambda x: x.count('a') + x.count('e') + \
                                  x.count('i') + x.count('o') + x.count('u') >= 2)
        ]
    candidates = candidates.groupby('score').first().sort_index(ascending=False)
    return candidates.head(4)

# ---- DATA ---- #
with open('data/wordle-candidates.json', 'r') as file:
    wordle_candidates = json.load(file)
    
with open('data/wordle-answers.json', 'r') as file:
    wordle_answers = json.load(file)

wordle_candidates = pd.DataFrame(wordle_candidates['words'], columns=['word'])
wordle_answers = pd.DataFrame(wordle_answers['words'], columns=['word'])
wordle_candidates['is_answer'] = 0
wordle_answers['is_answer'] = 1
wordle = wordle_candidates.append(wordle_answers).reset_index(drop=True)

words_all = pd.read_table('data/archive/en_words_1_5-5.txt', delimiter=' ', header=None, index_col=None,
                         names=['word_len', 'word_freq', 'n_articles']).reset_index()
words_all = words_all.rename(columns={'index': 'word'})

# Filter by english
alphabet = list('abcdefghijklmnopqrstuvwxyz')
words_all = words_all.loc[words_all.word.apply(lambda x: all([l in alphabet for l in x]))].reset_index(drop=True)

# Merge additional data
wordle_pop = wordle.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
wordle_pop = wordle_pop.fillna(0)

# Scores
global_freqs = compute_letter_frequencies(wordle).sum().to_dict()
global_scores = wordle.word.apply(compute_score, freqs=global_freqs)
global_scores = pd.DataFrame({'word': wordle.word, 'score': global_scores}).sort_values('score', ascending=False)

pos_scores = compute_pos_letter_freq(wordle)
pos_lf_scores = wordle.word.apply(compute_pos_score, pos_scores=pos_scores)
pos_lf_scores = pd.DataFrame({'word': wordle.word, 'score': pos_lf_scores}).sort_values('score', ascending=False)

global_scores_pop = global_scores.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
global_scores_pop = global_scores_pop.fillna(0).sort_values(['score', 'word_freq'], ascending=False)

pos_lf_scores_pop = pos_lf_scores.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
pos_lf_scores_pop = pos_lf_scores_pop.fillna(0).sort_values(['score', 'word_freq'], ascending=False)

## N-grams

In [45]:
def compute_pos_ngram_freq(wordset):
    pos_scores = {}
    for i in range(5):
        pos_scores[f'p{i}'] = {}
        
        # Single letters
        pos_scores[f'p{i}']['g1'] = wordset.word.str[i].value_counts().to_dict()
        
        # Bigrams
        if i <= 3:
            pos_scores[f'p{i}']['g2'] = wordset.word.str[i:(i+2)].value_counts().to_dict()
            
        # Trigrams
        if i <= 4:
            pos_scores[f'p{i}']['g3'] = wordset.word.str[i:(i+3)].value_counts().to_dict()
    
    return pos_scores

In [46]:
t1 = compute_pos_ngram_freq(wordle_pop)

In [48]:
ngram_scores = pd.DataFrame()

for i in range(5):
    for k in t1[f'p{i}'].keys():
        temp_data = pd.DataFrame([t1[f'p{i}'][k]]).T.reset_index() \
            .rename(columns={'index': 'ngram', 0: 'freq'})
        temp_data.insert(0, 'pos', i)
        ngram_scores = ngram_scores.append(temp_data)

In [49]:
ngram_scores['ngram_len'] = ngram_scores.ngram.str.len()

In [50]:
ngram_scores['pct'] = ngram_scores.freq / 12972
ngram_scores['dev50'] = np.abs(ngram_scores.pct - 0.5)

In [53]:
ngram_scores.sort_values('dev50').groupby('pos').first()

    ngram  freq  ngram_len       pct     dev50
pos
0       s  1565          1  0.120644  0.379356
1       a  2263          1  0.174453  0.325547
2       a  1236          1  0.095282  0.404718
3       e  2327          1  0.179386  0.320614
4       s  3958          1  0.305119  0.194881

## Average Deviation

In [97]:
def compute_pos_letter_avg(wordset):
    pos_scores = {}
    pos_scores[0] = wordset.word.str[0].value_counts(normalize=True).to_dict()
    pos_scores[1] = wordset.word.str[1].value_counts(normalize=True).to_dict()
    pos_scores[2] = wordset.word.str[2].value_counts(normalize=True).to_dict()
    pos_scores[3] = wordset.word.str[3].value_counts(normalize=True).to_dict()
    pos_scores[4] = wordset.word.str[4].value_counts(normalize=True).to_dict()
    
    return pos_scores

def compute_pos_score_avg(letters, pos_avg):
    output = 0
    for i, letter in enumerate(letters):
        output += np.abs(pos_avg[i].get(letter, 1) - 0.5)
    output = output / 5
    return output


def find_second_word_pos_pop(word, two_vowel=True):
    letters = list(word)
    candidates = pos_lf_scores_pop.loc[pos_lf_scores_pop.word.apply(lambda x: all([l not in letters for l in x]))]
    candidates = candidates.loc[candidates.word.apply(lambda x: len(x) == len(set(x)))]
    if two_vowel:
        candidates = candidates.loc[
            candidates.word.apply(lambda x: x.count('a') + x.count('e') + \
                                  x.count('i') + x.count('o') + x.count('u') >= 2)
        ]
    candidates = candidates.groupby('score').first().sort_index(ascending=True)
    return candidates.head(4)

def pos_lf_pop_scorer(wordset):
    # Compute positional letter frequencies of updated wordset
    pos_scores = compute_pos_letter_avg(wordset)

    # Obtain scores
    scores = wordset.word.apply(compute_pos_score_avg, pos_avg=pos_scores)
    scores = pd.DataFrame({'word': wordset.word, 'score': scores, 'word_freq': wordset.word_freq}) \
        .sort_values(['score', 'word_freq'], ascending=[True, False])
    
    return scores

In [98]:
pos_scores_avg = compute_pos_letter_avg(wordle)
pos_lf_scores = wordle.word.apply(compute_pos_score_avg, pos_avg=pos_scores_avg)
pos_lf_scores = pd.DataFrame({'word': wordle.word, 'score': pos_lf_scores}).sort_values('score', ascending=True)
pos_lf_scores_pop = pos_lf_scores.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
pos_lf_scores_pop = pos_lf_scores_pop.fillna(0).sort_values(['score', 'word_freq'], ascending=[True, False])

## Experiment

In [103]:
plf_words_single_pop = pos_lf_scores_pop.loc[pos_lf_scores_pop.word.apply(lambda x: len(x) == len(set(x)))].head(10).word.tolist()
print(plf_words_single_pop)

['cares', 'bares', 'pares', 'tares', 'cores', 'bores', 'mares', 'pores', 'canes', 'dares']

In [ ]:
df = pd.DataFrame()
for input_word1 in plf_words_single_pop:
    print('----------------------------------')
    print(input_word1)
    print('----------------------------------')
    all_word2 = find_second_word_pos_pop(input_word1).word.tolist()
    print(all_word2)

    for input_word2 in all_word2:
        print(f'[---- {input_word1}, {input_word2} ----]')
        res, _ = run_sim(input_word1, sim_double, pos_lf_pop_scorer,
                         single=False, input_word2=input_word2, wordset=wordle_pop)
        df = df.append(res, ignore_index=True)

----------------------------------
cares
----------------------------------
['doily', 'pouty', 'poind', 'gouty']
[---- cares, doily ----]

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  22 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 377 tasks      | elapsed:    4.0s
[Parallel(n_jobs=5)]: Done 1017 tasks      | elapsed:    9.9s
[Parallel(n_jobs=5)]: Done 1913 tasks      | elapsed:   18.5s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   22.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   22.4s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.168035,0.978073,3.0,3.0,4.0,5.0,10.0,0.0,0.254428,...,284.0,453.0,901.0,21.650108,22.289082,1.0,5.0,13.0,30.0,169.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cares, pouty ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.2s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.6s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   19.5s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   22.9s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   23.0s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.176242,0.95944,2.0,4.0,4.0,5.0,9.0,0.000432,0.245788,...,284.0,453.0,901.0,29.555508,36.09497,0.0,5.0,14.0,42.0,178.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cares, poind ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.3s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.5s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   19.2s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   22.6s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   22.7s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.137365,0.946795,3.0,3.0,4.0,5.0,9.0,0.0,0.259611,...,284.0,453.0,901.0,24.314039,28.626395,1.0,4.5,13.0,34.0,129.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cares, gouty ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.2s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.8s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   21.3s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   25.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   25.4s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.232397,0.983215,3.0,4.0,4.0,5.0,10.0,0.0,0.225486,...,284.0,453.0,901.0,29.12743,33.674284,1.0,6.0,15.0,40.0,181.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

----------------------------------
bares
----------------------------------
['doily', 'pouty', 'poind', 'gouty']
[---- bares, doily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.7s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    5.2s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.3s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   22.4s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   27.0s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.215551,0.971824,3.0,4.0,4.0,5.0,10.0,0.0,0.234557,...,304.0,655.0,1008.0,26.12959,26.069178,1.0,6.0,16.0,43.0,175.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- bares, pouty ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.8s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.0s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   22.2s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   26.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   26.5s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.225054,0.953034,2.0,4.0,4.0,5.0,9.0,0.000432,0.221166,...,304.0,655.0,1008.0,33.234989,38.704207,0.0,6.0,16.0,50.0,170.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- bares, poind ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    5.2s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.7s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   23.4s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   27.6s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   27.6s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.184881,0.935442,3.0,4.0,4.0,5.0,10.0,0.0,0.233693,...,304.0,655.0,1008.0,27.834557,31.156182,1.0,5.5,17.0,37.0,156.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- bares, gouty ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.9s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.8s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.9s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   24.5s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.5s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.273434,0.999117,3.0,4.0,4.0,5.0,10.0,0.0,0.213391,...,304.0,655.0,1008.0,34.546436,38.314013,1.0,7.0,18.0,55.0,167.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

----------------------------------
pares
----------------------------------
['doily', 'gouty', 'noily', 'doilt']
[---- pares, doily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.3s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.7s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   19.8s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   23.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   23.3s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.175378,0.952819,3.0,4.0,4.0,5.0,9.0,0.0,0.24406,...,297.0,475.0,972.0,24.237149,25.124915,1.0,5.0,14.0,37.0,169.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- pares, gouty ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.4s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.9s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.1s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   23.6s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   23.7s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.237149,0.965884,3.0,4.0,4.0,5.0,9.0,0.0,0.222894,...,297.0,475.0,972.0,32.52095,37.637215,1.0,6.0,16.0,48.0,185.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- pares, noily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.4s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.9s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   19.9s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   23.6s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   23.7s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.191361,0.97111,3.0,4.0,4.0,5.0,10.0,0.0,0.238013,...,297.0,475.0,972.0,22.312743,22.222159,1.0,6.0,15.0,33.0,144.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- pares, doilt ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.8s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.0s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   21.5s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   25.2s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   25.2s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.032397,0.876213,3.0,3.0,4.0,4.0,10.0,0.0,0.282505,...,297.0,475.0,972.0,18.213823,20.375231,1.0,4.0,11.0,25.0,131.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

----------------------------------
tares
----------------------------------
['doily', 'poind', 'noily', 'piony']
[---- tares, doily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.7s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.2s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.3s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   24.8s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.8s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.133045,0.960099,3.0,3.0,4.0,5.0,10.0,0.0,0.260907,...,243.0,402.0,858.0,18.552484,18.584205,1.0,5.0,12.0,24.0,154.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- tares, poind ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.4s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.7s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   22.2s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   26.5s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.072138,0.928506,3.0,3.0,4.0,5.0,9.0,0.0,0.280778,...,243.0,402.0,858.0,20.779266,23.859338,1.0,4.0,12.0,29.0,140.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- tares, noily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    5.4s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.3s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   21.2s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   24.8s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.8s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.123974,0.974484,3.0,3.0,4.0,5.0,10.0,0.0,0.269114,...,243.0,402.0,858.0,17.409935,17.477878,1.0,5.0,11.0,23.0,134.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- tares, piony ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.4s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.9s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.3s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   23.7s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   23.7s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.150756,0.983526,3.0,3.0,4.0,5.0,9.0,0.0,0.267819,...,243.0,402.0,858.0,21.96933,24.123071,1.0,5.0,12.0,32.0,137.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

----------------------------------
cores
----------------------------------
['laity', 'daily', 'gaily', 'haily']
[---- cores, laity ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.3s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.7s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.8s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   24.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.3s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.099352,0.948353,3.0,3.0,4.0,5.0,10.0,0.0,0.270842,...,347.0,477.0,1191.0,18.739525,19.888496,1.0,5.0,12.0,24.0,148.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cores, daily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.3s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.8s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   19.8s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   23.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   23.3s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.167603,0.97881,2.0,3.0,4.0,5.0,10.0,0.000432,0.253996,...,347.0,477.0,1191.0,21.649676,22.289492,0.0,5.0,13.0,30.0,169.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cores, gaily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.3s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   10.8s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.0s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.221598,1.002012,2.0,4.0,4.0,5.0,10.0,0.000432,0.238445,...,347.0,477.0,1191.0,23.580994,24.202077,0.0,6.0,14.0,32.0,165.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cores, haily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.8s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.6s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   22.6s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   26.2s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.212527,1.015318,3.0,4.0,4.0,5.0,10.0,0.0,0.249676,...,347.0,477.0,1191.0,25.07473,26.544772,1.0,5.0,14.0,39.0,166.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

----------------------------------
bores
----------------------------------
['laity', 'daily', 'gaily', 'haily']
[---- bores, laity ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.6s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.2s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   21.4s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   25.1s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   25.2s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.155508,0.947639,3.0,4.0,4.0,5.0,9.0,0.0,0.245788,...,381.0,507.0,1309.0,21.559395,21.056419,1.0,5.0,14.0,29.0,154.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- bores, daily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.6s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.5s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.7s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   24.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.5s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.215119,0.972587,2.0,4.0,4.0,5.0,10.0,0.000432,0.234125,...,381.0,507.0,1309.0,26.129158,26.069603,0.0,6.0,16.0,43.0,175.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- bores, gaily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.5s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.3s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   20.7s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   24.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   24.4s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.271274,1.012378,2.0,4.0,4.0,5.0,9.0,0.000432,0.222462,...,381.0,507.0,1309.0,28.429374,28.118646,0.0,6.0,17.0,49.0,176.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- bores, haily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.4s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.3s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   21.0s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   25.6s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   25.7s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.255724,1.002721,3.0,4.0,4.0,5.0,10.0,0.0,0.224622,...,381.0,507.0,1309.0,27.422894,26.808816,1.0,6.0,17.0,48.0,172.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

----------------------------------
mares
----------------------------------
['doily', 'pouty', 'poind', 'gouty']
[---- mares, doily ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    5.1s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.5s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   22.6s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   26.5s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   26.5s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.217279,0.976321,3.0,4.0,4.0,5.0,9.0,0.0,0.231533,...,300.0,459.0,978.0,24.757667,24.786234,1.0,6.0,15.0,37.0,165.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- mares, pouty ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    4.6s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   11.7s
[Parallel(n_jobs=5)]: Done 1958 tasks      | elapsed:   22.2s
[Parallel(n_jobs=5)]: Done 2306 out of 2315 | elapsed:   25.7s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 2315 out of 2315 | elapsed:   25.7s finished

,n_iter_count,n_iter_mean,n_iter_std,n_iter_min,n_iter_25%,n_iter_50%,n_iter_75%,n_iter_max,iter_2_or_less,iter_3,...,c1_50%,c1_75%,c1_max,c2_mean,c2_std,c2_min,c2_25%,c2_50%,c2_75%,c2_max
0,2315.0,4.219006,0.949449,2.0,4.0,4.0,5.0,9.0,0.000432,0.223758,...,300.0,459.0,978.0,32.961555,38.117316,0.0,6.0,16.0,49.0,170.0

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- mares, poind ----]

[Parallel(n_jobs=5)]: Done  38 tasks      | elapsed:    0.6s
[Parallel(n_jobs=5)]: Done 422 tasks      | elapsed:    5.3s
[Parallel(n_jobs=5)]: Done 1062 tasks      | elapsed:   12.5s